@font-face {
  font-family: "Fixel-Black" ;
  src: url(../../fonts/MacPawFixelText-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Fixel-Bold" ;
  src: url(../../fonts/MacPawFixelText-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Fixel-Medium";
  src: url(../../fonts/MacPawFixelText-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Fixel-Regular";
  src: url(../../fonts/MacPawFixelText-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Fixel-light";
  src: url(../../fonts/MacPawFixelText-light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Fixel-thin";
  src: url(../../fonts/MacPawFixelText-Thin.woff2) format("woff2");
  font-weight: 100;
  font-style: normal;
}

//=======================================================================
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Fixel", sans-serif;
  background: rgb(0, 0, 0);
  margin: 50% 0 0 0;
  position: relative;

  &::after {
     content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
  }
}


.wrapper {
  display: flex;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  perspective: 450px;
}

.container {
  color: yellow;
  text-align: justify;
  position: relative;
  animation: scroll 80s linear forwards;
  user-select: none;


  & h1 {
    font-size: 13vw;
    font-weight: 900;
    text-align: center;
    padding: 1.5em 0 1em 0;
  }
  & h2 {
    font-size: 11vw;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1em;

  }
  & h3 {
    font-size: 11vw;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1em;
  }
  & p {
    font-size: 10vh;
    line-height: 1em;
    padding: 1em 0 1em 0;
  }
}

@keyframes scroll {
  from {top: 0; transform: translateZ(0) rotateX(20deg) }
  to {top: -7500px; transform: translateZ(-2500px) rotateX(21deg) }
}